@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-primary: #f2f4f7;
  --color-green: #8fd694;
  --color-orange: #d8b58d;
  --color-blue: #5ab5e0;
}

.header {
  background-image: url("/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  background-image: url("/fondo.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.mision {
  background-image: url("/bg-mision.png");
}

li{
  list-style-type: circle;
}